*{
  margin: 0;
  padding: 0;
}
.music3{
  display: none;
}


.container {

  width: 1440px;
  height: auto;



}
#html{
}
$bg: #ffff;

#header {
  width: 1440px;
  background: darkslateblue;

}
#section{

  position:absolute;
  background: black;
  width: 1440px;
}
.music{
  margin-left: 360px;
  position: absolute;
  width: 900px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;

  &__a1 {
    width: 90px;
    height: 40px;
    color: aliceblue;
    border-color: #3498db;

    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    border-radius: 50px;

  }

  &__logo {
    color: $bg;
    font-size: 30px;
  }

  &__muz {
    &__a {
      color: $bg;
      font-size: 20px;
      text-decoration: none;
      width: 90px;
      height: 30px;
      margin: 30px;
    }
  }
}

.menu__a1:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.muz{
  margin-left: 50px;
  margin-top: 50px;
  &__h1{
    margin-left: 500px;
    color: $bg;
    font-size: 40px;
  }
  &__div{
    display: flex; align-items: center;

    &__h3{
      font-size: 35px;
      margin: 15px;
      color: $bg;
    }
  }
}

.button{
  width: 80px;
  height: 30px;
  color: aliceblue;
  border-color: $bg;

  box-shadow: 0 0 40px 40px darkslateblue inset, 0 0 0 0 green;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  border-radius: 50px;
}
.button:hover{
  box-shadow: 0 0 10px 0 darkslateblue inset, 0 0 10px 4px yellow;
}


@media (max-width: 992px){
  .music3{
    display: none;
  }


  .container {
    width: 992px;
    height: auto;
  }
  #section {
    position: absolute;
    background: black;
    width: 992px;
  }
  #header {
    width: 992px;
    background: darkslateblue;
  }
  .menu {

    width: 992px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    font-size: 20px;
  }
  .music {
    margin-left: 295px;
    position: absolute;
    width: 640px;
    margin-top: 64px;
  }
  .muz {
    margin-left: 50px;
    margin-top: 50px;
    width: 900px;
  }
  .muz__div {
    display: flex;
    align-items: center;
    width: 900px;
  }
  .muz__h1 {
    margin-left: 280px;
    color: #ffff;
    font-size: 40px;
  }
  .menu__muz__a {
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
    width: 90px;
    height: 30px;
    margin: 6px;
  }
}
@media(max-width: 768px){


  .music3{
    display: none;
  }
  .menu__muz__a {
    display: none;
  }

  .muz {
    margin-left: 50px;
    margin-top: 50px;
    width: 704px;
  }
  .muz__div {
    display: flex;
    align-items: center;
    width: 690px;
  }
  .muz__h1 {
    width: 400px;
    margin-left: 213px;
    color: #ffff;
    font-size: 40px;
  }
  #section {
    position: absolute;
    background: black;
    width: 767px;
  }
  #header {
    width: 768px;
    background: darkslateblue;
  }
  .container {
    width: 767px;
    height: auto;
  }
  .music {
    margin-left: 287px;
    position: absolute;
    width: 403px;
    margin-top: 144px;
  }
  .menu {
    width: 855px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    font-size: 20px;
  }
  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right:0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }

  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: #CFD8DC;
  }
  #menu-toggle{
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }.menu-btn{
     display: flex;
     align-items: center;
     position: absolute;
     top: 0;
     right:0;
     width: 26px;
     height: 26px;
     cursor: pointer;
     z-index: 1;
   }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }

  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: #CFD8DC;
  }


  #menu-toggle{
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }
}
@media (max-width: 767px) {

  .music3{
    display: none;
  }

  .menu {
    width: 767px;



  }
}
@media (max-width: 567px) {
  .menu {
    width: 567px;
  }
  .music3{
    display: none;
  }
  .menu__a1{
    width: 91px;
    height: 27px;
  }
  .muz__h1 {

    width: 353px;
    margin-left: 122px;
    color: #ffff;
    font-size: 35px;
  }.muz__div__h3 {
     font-size: 25px;
     margin: 8px;
     color: #ffff;
   }.button {
      width: 68px;
      height: 21px;
      color: aliceblue;
      border-color: #ffff;
      box-shadow: 0 0 40px 40px darkslateblue inset, 0 0 0 0 green;
      -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
      border-radius: 50px;

    }
  .muz {
    margin-left: 21px;
    margin-top: 50px;
    width: 704px;
  }.music {
     margin-left: 211px;
     position: absolute;
     width: 301px;
     margin-top: 77px;
   }.container {
      width: 559px;
      height: auto;
    }
  .menu{
    width: 567px;
  }#header {
     width: 567px;
     background: darkslateblue;
   }#section {
      position: absolute;
      background: black;
      width: 569px;
    }.muz__div {
       display: flex;
       align-items: center;
       width: 496px;
     }.muz {
        margin-left: 50px;
        margin-top: 50px;
        width: 518px;
      }
}

@media (max-width: 414px) {
  .menu {
    width: 417px;
  }.muz__h1 {
     width: 320px;
     margin-left: 50px;
     color: #ffff;
     font-size: 25px;
   }.muz__div__h3 {
      font-size: 17px;
      margin: 8px;
      color: #ffff;
    }
  .button{
    width: 59px;
    height: 20px;
  }
  .menu__a1{
    width: 71px;
    height: 22px;
  }
  .music {
    margin-left: 198px;
    position: absolute;
    width: 119px;
    margin-top: 17px;
  }
  .music3 {
    display: block;
    width: 134px;
    position: absolute;
    margin-left: 200px;
    margin-top: 116px;
  }#header {
     width: 414px;
     background: darkslateblue;
   }#section {
      position: absolute;
      background: black;
      width: 414px;
    }.muz__div {
       display: flex;
       align-items: center;
       width: 367px;
     }.container {
        width: 414px;
        height: auto;
      }.muz {
         margin-left: 9px;
         margin-top: 50px;
         width:327px;
       }
}
@media (max-width: 375px) {
  .menu {
    width: 370px;
  }.container {
     width: 372px;
     height: auto;
   }#header {
      width: 375px;
      background: darkslateblue;
    }#section {
       position: absolute;
       background: black;
       width: 376px;
     }
}
@media (max-width: 320px) {
  .menu {
    width: 298px;
  }
  #header{
    width: 320px;
  }
  .container{
    width: 320px;
  }
  #section{
    width: 320px;
  }.music3 {
     display: block;
     width: 134px;
     position: absolute;
     margin-left: 186px;
     margin-top: 133px;
   }.muz__h1 {
      width: 198px;
      margin-left: 50px;
      color: #ffff;
      font-size: 25px;
    }.muz__div {
       display: flex;
       align-items: center;
       width: 297px;
     }.muz {
        margin-left: 0;
        margin-top: 50px;
        width: 320px;
      }
}


